# Lecture 8: July 10th, 2024

__Reminders:__

* Students hours Thursdays and Fridays.
* Focus on getting MATLAB outcomes done this week.
* These notes are posted on Canvas after each lecture.

## Getting Started with Jupyter Notebook

This is an example of a markdown cell. This is the kind of cell where I'll write explanation, upload images, put links, etc. To make a markdown cell, I can do the following:

* `esc`
* `b` to make a cell below, or `a` to make a cell above
* `m` to change the cell type to a markdown cell.

I highly recommend spending some time in the beginning learning keyboard shortcuts to save you lots of time in the future.

To actually run a cell, you can press `cmd+return` or `shift+return`. To enter a cell to edit it, you can press `enter`.

If you are familiar with HTML, many of the same commands will work in Jupyter Notebook markdown cells. For example:

* `__this__` will produce __this__
* `_this_` will produce _this_
* `<font color = red> this </font>` will produce <font color = red> this </font>

If you are familiar with $\LaTeX$, then we can get math to render by wrapping it in `$$`.

* `$\int_0^1 f(x)dx$` gives $\int_0^1 f(x)dx$
* `${n \choose 2}$` gives ${n \choose 2}$

## Python Data Types

### Lists and Strings

You might wonder why we start by introducing lists and strings. They seem pretty different, but I want to highlight that they actually have many similarities.

In [1]:
s = "Hello World"

In [2]:
type(s)

str

In [8]:
print(s)

Hello World

In [4]:
s2 = 'Hello World'

In [5]:
type(s2)

str

In [6]:
print(s2)

Hello World

Unlike in MATLAB, we can click on cells above and change their contents.

In [9]:
mylist = [3,1,4,1]

In [10]:
type(mylist)

list

Here's an area for potential confusion! Indexing starts at 0, and we use `[]` instead of `()`.

In [11]:
mylist[0]

3

In [12]:
mylist[1]

1

In [13]:
s

'Hello World'

In [14]:
len(s) #notice this is different than `length` in ML

11

In [15]:
len(mylist)

4

Suppose I wanted to get the very last element of `s`. This way will cause an error. Think about why.

In [16]:
s[len(s)]

IndexError: string index out of range

In [17]:
s[len(s)-1]

'd'

There's an easier way to do it! Think of the `end` keyword from ML. Python has something similar.

In [18]:
s[-1]

'd'

We can also keep counting backwards.

In [19]:
s[-2]

'l'

The next thing we'll go over is "slicing". This is an extremely important concept, and will be relevant in Math 10.

In [20]:
s

'Hello World'

In [21]:
s[1:4]

'ell'

The notation `1:4` means start at 1, go to 4, but don't include 4 itself. Typically in Python we __don't__ include right endpoints. Maybe this seems like not such a good idea, but there is a reason for it...

In [22]:
s[:5]

'Hello'

Notice in the above we get exactly the first 5 elements.

In [23]:
s[3:] #start at index 3, go to the end

'lo World'

I've shown you slicing for strings, but it works exactly the same for lists.

Another difference from ML:

In [24]:
s

'Hello World'

In [25]:
s[1:7:2]

'el '

`1:7:2` means start at index 1, go up to index 7 but don't include it, and count by 2s.

In [26]:
s

'Hello World'

In [27]:
s[::2] #index 0, go to end, count by 2

'HloWrd'

To get the complement of this:

In [28]:
s[1::2]

'el ol'

### Lists, Tuples, and Sets

In [29]:
mylist = [3,1,4,1]
mytuple = (3,1,4,1)
myset = {3,1,4,1}

In [30]:
type(mylist)

list

In [31]:
type(mytuple)

tuple

In [32]:
type(myset)

set

Sets in Python are just like sets in the mathematical (Math 13) sense. 
- Sets don't have duplicates
- Sets don't have a notion of order

In [33]:
myset

{1, 3, 4}

Notice I get an error if I assume `myset` has an order.

In [34]:
myset[0]

TypeError: 'set' object is not subscriptable

In [35]:
mytuple[0]

3

In [36]:
mylist[0]

3

In [37]:
len(mylist)

4

In [38]:
len(mytuple)

4

In [39]:
len(myset)

3

We've seen how sets are different from lists and tuples, but we'll now see how tuples and lists are different from each other.

__Main Point:__ lists can be changed (mutable), while tuples cannot.

In [40]:
mylist

[3, 1, 4, 1]

In [42]:
mylist[2] = 19

In [43]:
mylist

[3, 1, 19, 1]

In [44]:
mytuple[2] = 19

TypeError: 'tuple' object does not support item assignment

In [46]:
mylist.append(3) #I called this cell twice, so two 3s appeared.

[3, 1, 19, 1, 3, 3]

In [48]:
mylist

[3, 1, 19, 1, 3, 3]

In [47]:
mytuple.append(3)

AttributeError: 'tuple' object has no attribute 'append'

So far it seems like tuples are worse than lists. Maybe I can convince you otherwise...

In [49]:
newset = {3,1,(4,1)}

In [50]:
len(newset)

3

In [51]:
newset2 = {3,1,[4,1]}

TypeError: unhashable type: 'list'

What's the point? Tuples can go into sets, but lists cannot. We'll see later in this lecture that tuples can also be keys in dictionaries, but lists cannot.

### Ranges and for-loops

In [52]:
mystring = "Hello World"
mylist = [3,1,4,1]
mytuple = (3,1,4,1)
myset = {3,1,4,1}

Let's say I wanted to print every element of `mylist`. Notice that I have an indent after I start the for loop. Everything you want to happen in the loop must be indented at the same level.

In [53]:
for x in mylist:
    print(x)

3
1
4
1

Notice in the following that everything is indented at the same level, so it happens every iteration of the loop.

In [54]:
for x in mystring:
    print(x)
    print(type(x))
    print(len(x))

H
<class 'str'>
1
e
<class 'str'>
1
l
<class 'str'>
1
l
<class 'str'>
1
o
<class 'str'>
1

<class 'str'>
1
W
<class 'str'>
1
o
<class 'str'>
1
r
<class 'str'>
1
l
<class 'str'>
1
d
<class 'str'>
1

In [55]:
for x in mystring:
    print(x)
print(type(x))
print(len(x))

H
e
l
l
o

W
o
r
l
d
<class 'str'>
1

In [56]:
for x in mytuple:
    print(x)

3
1
4
1

In [57]:
for x in myset:
    print(x)

1
3
4

You might be wondering how we can set up a loop that does the same thing over and over again.

In [58]:
for i in range(5):
    print(i)

0
1
2
3
4

In [59]:
myrange = range(10,3,-1)

In [60]:
type(myrange)

range

In [61]:
for i in myrange:
    print(i)

10
9
8
7
6
5
4

range objects must follow a particular pattern.

In [63]:
myrange2 = range(3,1000)

In [64]:
myrange2[0]

3

In [65]:
myrange2[-1]

999

In [66]:
myrange2[10:100:4]

range(13, 103, 4)

In [67]:
len(myrange2)

997

* ranges are mostly used with for loops, but I'm spending the time today to emphasize that they're another example of a python data type with many properties. 
* All data types up until now have been very important. It's a good idea to get comfortable with them. In the future, we'll see some more specialized data types that you don't need to know as much about.

### ints, floats, and bools

In [68]:
z = 10/2

In [69]:
z == 5

True

Notice `True` and `False` when capitalized are boolean values.

In [70]:
type(True)

bool

In [71]:
type(true)

NameError: name 'true' is not defined

In [72]:
type(False)

bool

In [73]:
type(false)

NameError: name 'false' is not defined

In [74]:
range(5)

range(0, 5)

In [75]:
range(z)

TypeError: 'float' object cannot be interpreted as an integer

In [77]:
z

5.0

In [78]:
type(z)

float

__Key Point:__ Be careful with floats.

In [79]:
(0.1 + 0.1 + 0.1) == 0.3

False

### dictionaries

In [80]:
d = {"A":90, "B":80, "C":70, "D":60, "F":0}

In [81]:
type(d)

dict

"A","B","C","D", and "F" are called _keys_, while 90,80,70,60, and 0 are called _values_.

In [82]:
d[0]

KeyError: 0

We search dictionaries by keys, so the above error is saying that there is no key callled 0.

In [83]:
d["A"]

90

Values in dictionaries can be almost anything you'd like. Here's an example of how we can add a key-value pair.

In [84]:
d[0] = [3,1,4,1]

In [85]:
d

{'A': 90, 'B': 80, 'C': 70, 'D': 60, 'F': 0, 0: [3, 1, 4, 1]}

Here's how we can reassign values.

In [86]:
d["B"] = 85

In [87]:
d

{'A': 90, 'B': 85, 'C': 70, 'D': 60, 'F': 0, 0: [3, 1, 4, 1]}

Notice: there can only be one value for each key.

This next example shows a dictionary as a value in a dictionary.

In [88]:
d["0"] = {"hello":"first word","world":"second word"}

In [89]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 0: [3, 1, 4, 1],
 '0': {'hello': 'first word', 'world': 'second word'}}

We have less flexibility for what keys can be.

In [90]:
myset = {3,1,[4,1]} #error, lists can't go in sets

TypeError: unhashable type: 'list'

In [91]:
myset = {3,1,(4,1)}

The same will be true of keys.

In [92]:
d[[4,1]] = "Yasmeen"

TypeError: unhashable type: 'list'

In [93]:
d[(4,1)] = "Yasmeen"

In [94]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 0: [3, 1, 4, 1],
 '0': {'hello': 'first word', 'world': 'second word'},
 (4, 1): 'Yasmeen'}

### Converting between data types

In [95]:
mylist = [3,1,4,1]
tuple(mylist)

(3, 1, 4, 1)

In [96]:
x = tuple(mylist)

In [97]:
type(x)

tuple

In [98]:
x

(3, 1, 4, 1)

In [101]:
s = "Hello World"

In [102]:
list(s)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

Here's an example of something that doesn't work.

In [103]:
mylist

[3, 1, 4, 1]

In [104]:
dict(mylist)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

Notice, it's not clear in this example what should be the key-value pairs. If we make this more "obvious" to Python, then we can convert a list to a dictionary.

In [105]:
mylist2 = [(3,"a"),(1,"b"),(1,"c")]

In [106]:
dict(mylist2)

{3: 'a', 1: 'c'}

We can also convert `True` and `False` to integers.

In [107]:
True

True

In [108]:
int(True)

1

In [109]:
False

False

In [110]:
int(False)

0

Maybe these next examples are a little surprising.

In [111]:
4 + True

5

In [112]:
4 + False

4

### Timing Comparisons

__Point:__ Sets are __fast__ to search through.

In [113]:
10000000 #tedious to type :P

10000000

In [114]:
10^7 #doesn't give what you expect

13

In [115]:
10**7 #this gives 10^7

10000000

I want enough elements so that my search is not trivial.

In [116]:
r = range(0,10**7,5)
mylist = list(r)
mytuple = tuple(r)
myset = set(r)

In [117]:
type(myset)

set

In [118]:
0 in mylist

True

In [119]:
1 in mylist

False

The following is an example of what's called a Jupyter "magic". This is not native to Python, it's something that works specifically because we're in Jupyter notebook.

In [120]:
%%timeit
0 in mylist

52.9 ns ± 10.2 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [121]:
%%timeit
0 in mytuple

45.1 ns ± 3.54 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [123]:
%%timeit
0 in myset

53 ns ± 4.33 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

You might be surprised because I told you that searching a set is much faster than searching a tuple or a list. But, what's happening here is more a function of the fact that 0 appears in all of my variables, _and_ it's the first entry of mylist and mytuple. We'll get a better sense of how fast things are by searching for something that _never_ appears.

In [126]:
%%timeit
1 in mylist

29.3 ms ± 531 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [127]:
%%timeit 
1 in mytuple

28.2 ms ± 4.38 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [125]:
%%timeit
1 in myset

47.7 ns ± 1.09 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

Why so fast? Part of the reason is that lists aren't allowed as elements of sets. Searching a dictionary for keys is equally fast.

## Alternating List

__Big Goal:__ Write a function that creates a length $n$ list of alternating $3$'s and $7$'s $[3,7,3,7 \dots]$.

## Constant List

__Mini Goal:__ Write a function that takes as input a natural number $n$ and as output returns a length $n$ list $[3,3, \dots, 3]$.

We've already seen programming fundamentals in ML. Now we just need to learn the syntax for python.

In [128]:
def f(n):
    mylist = []
    for i in range(n):
        mylist.append(3)

In [129]:
f(3)

Notice that we didn't actually return anything in our function.

In [131]:
def f(n):
    mylist = []
    for i in range(n):
        mylist.append(3)
        return mylist

In [132]:
f(5)

[3]

In [133]:
f(4)

[3]

This is happening because `return` is inside of the for-loop.

In [134]:
def f(n):
    mylist = []
    for i in range(n):
        mylist.append(3)
    return mylist

In [135]:
f(5)

[3, 3, 3, 3, 3]

In [136]:
f(4)

[3, 3, 3, 3]

Question from the chat about what range looks like.

In [137]:
range(0,100,5)

range(0, 100, 5)

In [138]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]